- content_for :style_head do
  = stylesheet_link_tag theme_asset('stylesheets/package/pattern_events')
- content_for :js_bottom do
  = javascript_include_tag theme_asset('js/packages/pattern_events')

- args={custom_slider: nil, custom_footer: nil, extra_footer: nil, custom_sidebar: nil, product: @post}; hooks_run('ecommerce_product_page', args) # permit custom footer
- content_for :breadcrumb do
  = render 'partials/breadcrumb', breadcrumb: @post.the_breadcrumb

.col-md-12.dk-template-events
  %article#product_view.post-content
    .row
      .col-md-8
        .dk-section.dk-indent.dk-block.js-dynamic-ref
          %h3.dk-title
            = @post.the_title
          .dkte-event-block
            - if @post.get_fields_object[:datatime_event].present?
              .dkte-event-date.dk-indent
                Дата и время:
                = @post.get_fields_object[:datatime_event][:values].gsub(' ', '/')
            - if @post.the_price.present?
              .dkte-event-price.dk-indent
                - if @post.the_price.gsub(/\D/, '').to_i == 0
                  Бесплатно
                - else
                  Стоимость:
                  = @post.the_price.gsub(/[^0-9,.]/, '').to_i
                  руб.
                  .dkte-event-price.dk-indent
                    %a{href: 'http://perm.kassy.ru/building/dvorec-kultury-im-s-m-kirova-13/29/', target: 'blank'} Купить билет
          .dkte-event-block
            .dkte-event-content.dk-indent
              = raw @post.the_content
      .col-md-4.js-vi-img
        .dk-section.dk-indent.dk-block
          .dk-img-item
            .dk-img-wrapper.js-dynamic-side
              = @post.the_thumb(class: 'dk-img img-responsive dktl-img js-dynamic-item')
