- args={custom_slider: nil, custom_footer: nil, extra_footer: nil, custom_sidebar: nil, product: @post}; hooks_run('ecommerce_product_page', args) # permit custom footer
= render 'post_types/commerce/cart_widget'
.row
  .col-md-9.post-view
    %article#product_view.post-content
      .row
        .col-md-6
          - unless args[:custom_slider].present?
            #ecommerce-product-slider.carousel.slide{"data-interval" => "false", "data-ride" => "carousel"}
              / Indicators
              %ol.carousel-indicators
                - @post.the_photos.each_with_index do |pthoto, index|
                  %li{:class => "#{'active' if index == 0}", "data-slide-to" => index, "data-target" => "#ecommerce-product-slider"}
              / Wrapper for slides
              .carousel-inner{:role => "listbox"}
                - @post.the_photos.each_with_index do |pthoto, index|
                  %div{:class => "item #{'active' if index == 0}"}
                    %img.center-block{:src => pthoto}/
              / Controls
              %a.left.carousel-control{"data-slide" => "prev", :href => "#ecommerce-product-slider", :role => "button"}
                %span.glyphicon.glyphicon-chevron-left.fa.fa-chevron-left{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.right.carousel-control{"data-slide" => "next", :href => "#ecommerce-product-slider", :role => "button"}
                %span.glyphicon.glyphicon-chevron-right.fa.fa-chevron-right{"aria-hidden" => "true"}
                %span.sr-only Next
          - else
            = raw args[:custom_slider]
        .col-md-6
          = render 'post_types/commerce/product_info', product: @post
      - unless args[:custom_footer].present?
        .row
          .col-md-12
            %h3= t('plugins.ecommerce.single.descr', default: 'Description')
            .item-content
              = raw @post.the_content
          - if (attrs = @post.the_attribute_fields('ecommerce_attrs').to_a).present? && attrs.map{|k,v| v.present? }.any?
            .col-md-12
              %h3= t('plugins.ecommerce.single.attrs', default: 'Attributes')
              %table.table.table-bordered
                - attrs.each_with_index do |attr, index|
                  %tr
                    %td
                      %strong= attr['attr'].to_s.translate
                    %td= attr['value'].to_s.translate
      - else
        = raw args[:custom_footer]
      = raw args[:extra_footer] if args[:extra_footer].present?
