:ruby
  event = (@post_type.try(:slug) == 'commerce')
  news = (@post_type.try(:slug) == 'news')
  docs = (@post_type.try(:slug) == 'documents')
  about = (@post_type.try(:slug) == 'about')
  price = post.try(:the_price)

.dk-indent{class: event ? 'col-md-4 dk-events-list-item' : 'col-md-12 dk-type-list-item'}
  .dk-inner-wrap.dk-block
    .row
      - if !is_search? && (!news && !docs && !about)
        .js-vi-img{class: event ? 'col-md-12' : 'col-md-4'}
          .dktl-item-thumb.dk-img-item.dktl-img-item
            %a.dk-img-wrapper{href: post.the_url}
              = post.the_thumb(class: 'dk-img img-responsive dktl-img')
      %div{class: event || news || docs || about || is_search? ? 'col-md-12' : 'col-md-8'}
        %a.dktl-item-title.dk-vi-title{href: post.the_url}
          = truncate post.the_title, length: 45, escape: false
        .dktl-item-content
          = post.the_content.html_safe
      .col-md-12
        .dktl-item-info
          - if post.get_fields_object[:datatime_event].present?
            .dktl-item-info-date
              = post.get_fields_object[:datatime_event][:values].gsub(' ', '/')
          - if price.present?
            .dktl-item-info-price
              - if price.gsub(/\D/, '').to_i == 0
                Бесплатно
              - else
                Стоимость:
                = price.gsub(/[^0-9,.]/, '').to_i
                руб.
          %a.dktl-item-more{href: post.the_url} Подробнее
