!!!
%html{lang: 'ru'}
  %head
    / META SECTION
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    / END META SECTION
    = stylesheet_link_tag theme_asset 'stylesheets/package/init'
    = yield :style_head
    %link{href: '//fonts.googleapis.com/css?family=Montserrat%3A400%2C700&ver=4.2.2', rel: 'stylesheet'}/
    = raw the_head
    :javascript
      var
        app = app ||
        {
          config: {},
          modules: {}
        };
    = javascript_include_tag theme_asset('js/custom/main')
    = javascript_include_tag theme_asset('js/application/init'), defer: true
    /[if lt IE 9]
      <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
      <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
  %body.dk-body{class: "#{is_home? ? 'home-page' : 'inner-page'} #{'js-dk-body'}"}
    = yield :flash_messages
    %header.dk-header.js-main-header
      .container
        .row
          .col-md-1.col-xs-3
            .dk-header-logo
              = image_tag(current_site.the_logo, class: 'img-responsive', alt: current_site.the_title, title: current_site.the_excerpt)
          .col-md-11.col-xs-9
            .dk-header-title
              %h1 Дворец культуры им. С.М. Кирова
              .dk-header-sub-title.dk-vi-title Департамент культуры и молодежной политики администрации города Перми
      %nav.navbar.navbar-fixed-top.dk-navbar
        .container
          = raw current_site.draw_languages 'language-list list-inline', true
          .navbar-header
            %button.navbar-toggle.collapsed{data: {target: '.navbar-responsive-collapse',
                                            toggle: 'collapse'},
                                            type: 'button'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse.navbar-responsive-collapse.dk-navigation
            .row
              .col-md-10
                .ddnl-item
                  %a.ddnl-item-link{href: current_site.the_url, rel: 'homepage'} Главная
                = raw draw_menu({menu_slug: 'dk-menu',
                                 container_class: 'ddn-list',
                                 item_container: 'li',
                                 item_class: 'ddnl-item',
                                 item_class_parent: 'ddn-down-nav',
                                 item_current: 'active-item',
                                 link_current: 'active-link',
                                 link_class: 'ddnl-item-link'})
              .col-md-2.dk-toolbar
                %span.dkt-icons
                  %i.fa.fa-search.js-search-toggle
                %span.dkt-icons.js-dkvi-turn-up
                  %i.fa.fa-eye.js-dkvi-toggle

          = render partial: 'partials/visual_impaired_bar'
          = render partial: 'partials/search_form'
      = yield :breadcrumb
      .js-flash-messages
    .dk-content.js-dk-content
      .container
        .row
          - if content_for? :title_section
            = yield :title_section
          %div{class: (content_for? :dk_sidebar) ? 'col-md-9' : 'col-md-12'}
            .row
              = yield
          - if content_for? :dk_sidebar
            .col-md-3
              .row
                = yield :dk_sidebar

    %footer.dk-footer#footer.js-dk-footer
      .container
        .row
          .col-md-12
            = raw draw_menu({menu_slug: 'footer_menu',
                             container_class: 'ddn-list',
                             item_container: 'li',
                             item_class: 'ddnl-item',
                             item_class_parent: 'ddn-down-nav',
                             item_current: 'active-item',
                             link_current: 'active-link',
                             link_class: 'ddnl-item-link'})
        .row
          .col-md-2.col-xs-12
            #text-2.widget-wrapper.widget_text
              = raw current_theme.the_field('footer_left')
          .col-md-10.col-xs-12
            #text-3.widget-wrapper.widget_text
              = raw current_theme.the_field('footer_center')

    = javascript_include_tag theme_asset('js/packages/init'), defer: true
    = yield :js_bottom