- comments.each do |comment| user = comment.comment_user.decorate
  %div{:class => "comment-body #{"answer" if children.present?}"}
    %div{:class => "image #{"image_children" if children.present?}"}
      .thumbnail
        = image_tag user.the_avatar, class: "img-responsive avatar"
      / /thumbnail
    / /col-sm-1
    %div{:class => "comment-content text #{"text_children" if children.present?}"}
      .panel.panel-default
        .panel-heading
          %strong{:class => "#{(children.present?)? "pull-right" : ""}"}= user.the_name
          %small{:class => "text-muted #{(children.present?)? "" : "pull-right"}"}= comment.decorate.the_created_at
        .panel-body
          = raw comment.content
        / /panel-body
      / /panel panel-default
    / /col-sm-5
  = render partial: "partials/comments_list", locals: { comments: comment.children.approveds, children: "present" }  if comment.children.present?
