.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a#logo.navbar-brand{:href => "#{current_site.the_url}"}= image_tag current_site.the_logo, class: "img-responsive"
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      = raw get_nav_menu('main_menu', 'nav navbar-nav ')
      %ul.nav.navbar-nav.navbar-right
        - if signin?
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %img{:alt => "", :src => "#{cama_current_user.decorate.the_avatar}", :style => "max-width: 24px; border-radius: 50%"}/
              = cama_current_user.username
            %ul.dropdown-menu
              %li
                %a{:href => cama_admin_dashboard_path} Dashboard
              %li
                %a{:href => cama_admin_profile_path} Profile
              %li
                %a{:href => cama_admin_logout_path} Logout
        - else
          %li.dropdown
            %a#login-user.dropdown-toggle{:href => "#"} Login / Register
            %ul.dropdown-menu
              %li
                %a{:href => cama_admin_login_path} Login
              %li
                %a{:href => cama_admin_register_path} Register
      = raw current_site.draw_languages("language list-inline pull-right", true)
